<div class="form-group" ng-class="{'has-success': fieldsForm.agreement.$touched && fieldsForm.agreement.$valid, 'has-error': fieldsForm.agreement.$touched && !fieldsForm.agreement.$valid}">
    <label for="{{field.id}}" class="col-lg-2 control-label">{{field.label}}</label>
    <div class="col-lg-6">
        <input type="{{field.type}}" name="{{field.name}}" required ng-model="field.value" ng-change="saveValue(field)" class="form-control" id="{{field.id}}" placeholder="{{field.label}}" ng-value="field.value">
        <div ng-show="fieldsForm.agreement.$touched">
            <span class="help-block" ng-show="fieldsForm.agreement.$error.required">Check agreement with us.</span>
        </div>
    </div>
</div>