<div class="form-group" ng-class="{'has-success': fieldsForm.birthday.$touched && fieldsForm.birthday.$valid, 'has-error': fieldsForm.birthday.$touched && !fieldsForm.birthday.$valid}">
    <label for="{{field.id}}" class="col-lg-2 control-label">{{field.label}}</label>
    <div class="col-lg-6">
        <input type="{{field.type}}" required name="{{field.name}}" ng-model="field.value" ng-change="saveValue(field)" class="form-control" id="{{field.id}}" placeholder="{{field.label}}" ng-value="field.value">
        <div ng-show="fieldsForm.birthday.$touched">
            <span class="help-block" ng-show="fieldsForm.birthday.$error.required">Tell us your birth date.</span>
        </div>
    </div>
</div>