<div class="form-group" ng-class="{'has-success': fieldsForm.budget.$touched && fieldsForm.budget.$valid, 'has-error': fieldsForm.budget.$touched && !fieldsForm.budget.$valid}">
    <label for="{{field.id}}" class="col-lg-2 control-label">{{field.label}}</label>
    <div class="col-lg-6">
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="{{field.type}}" integer name="{{field.name}}" class="form-control" id="{{field.id}}" ng-model="field.value" ng-change="saveValue(field)" placeholder="{{field.name}}" min="{{field.min}}" max="{{field.max}}">
        </div>
        <div ng-show="fieldsForm.budget.$touched">
            <span class="help-block" ng-show="fieldsForm.budget.$error.integer">The value is not a valid integer!</span>
            <span class="help-block" ng-show="fieldsForm.budget.$error.min">Min currency is 0.</span>
            <span class="help-block" ng-show="fieldsForm.budget.$error.max">Max currency is 2000.</span>
        </div>
    </div>
</div>