<div class="form-group" ng-class="{'has-success': fieldsForm.email.$touched && fieldsForm.email.$valid, 'has-error': fieldsForm.email.$touched && !fieldsForm.email.$valid}">
    <label for="{{field.id}}" class="col-lg-2 control-label">{{field.label}}</label>
    <div class="col-lg-6">
        <input type="{{field.type}}" name="{{field.name}}" required ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" ng-model="field.value" ng-change="saveValue(field)" class="form-control" id="{{field.id}}" placeholder="{{field.label}}" ng-value="field.value">
        <div ng-show="fieldsForm.email.$touched">
            <span class="help-block" ng-show="fieldsForm.email.$error.required">Tell us your email.</span>
            <span class="help-block" ng-show="fieldsForm.email.$error.pattern">This is not a valid email.</span>
        </div>
    </div>
</div>