<div class="row">
    <div class="col-lg-6 col-md-offset-1">
        <input type="text" class="form-control" ng-model="field.search" placeholder="Search for...">
        <div class="checkbox" ng-repeat="field in fields | filter: field.search">
            <label>
                <input type="checkbox" ng-model="field.visible" ng-change="saveVisibility(field)" ng-checked="field.visible">
                {{field.label}}
            </label>
        </div>
    </div>
</div>