<div class="form-group">
    <label for="{{field.id}}" class="col-lg-2 control-label">{{field.label}}</label>
    <div class="col-lg-6">
        <select ng-model="field.value" name="{{field.name}}" id="{{field.id}}" ng-change="saveValue(field)" class="form-control">
            <option disabled selected>{{field.emptyField}}</option>
            <option ng-repeat="option in field.options">{{option}}</option>
        </select>
    </div>
</div>