<div class="row">
    <div class="col-lg-6 col-md-offset-1">
        <form class="form-horizontal" novalidate ng-submit="fieldsForm.$valid" name="fieldsForm" role="form">
            <div ng-repeat="field in filteredList()">
                <ng-include src="getTemplateUrl(field.directive)"/>
            </div>
        </form>
    </div>
</div>