<div class="form-group">
    <label for="{{field.id}}" class="col-lg-2 control-label">{{field.label}}</label>
    <div class="col-lg-6">
        <select multiple name="{{field.name}}" ng-model="field.value" id="{{field.id}}" ng-change="saveValue(field)" class="form-control">
            <option disabled selected value="{{field.emptyField}}">{{field.emptyField}}</option>
            <option ng-selected="checkedOption(option, field)" ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
        </select>
    </div>
</div>