<div class="form-group" ng-class="{'has-success': fieldsForm.password.$touched && fieldsForm.password.$valid, 'has-error': fieldsForm.email.$touched && !fieldsForm.password.$valid}">
    <label for="{{field.id}}" class="col-sm-2 control-label">{{field.label}}</label>
    <div class="col-lg-6">
        <input type="{{field.type}}" name="{{field.name}}" required ng-pattern="/^[a-zA-Zа-яА-Я0-9 ]+$/" ng-model="field.value" ng-change="saveValue(field)" class="form-control" id="{{field.id}}" placeholder="{{field.label}}" ng-value="field.value">
        <div ng-show="fieldsForm.password.$touched">
            <span ng-show="fieldsForm.password.$error.required">Fill the password.</span>
            <span ng-show="fieldsForm.password.$error.pattern">This is not a valid symbols.</span>
        </div>
    </div>
</div>