<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>Input Managment</title>
</head>
<body ng-controller="SiteController">
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" ng-class="{active: isSelected('filter')}"><a ui-sref="filter" ng-click="setPage('filter')">Fields Filter</a></li>
    <li role="presentation" ng-class="{active: isSelected('inputs-list')}"><a ui-sref="inputs-list"  ng-click="setPage('inputs-list')">Fields Inputs</a></li>
</ul>

<div ui-view></div>

<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular-ui-router.min.js"></script>
<script type="text/javascript" src="js/lib/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="js/factories/FieldsFactory.js"></script>
<script type="text/javascript" src="js/controllers/SiteController.js"></script>
<script type="text/javascript" src="js/directives/FilterDirective.js"></script>
<script type="text/javascript" src="js/directives/InputsListDirective.js"></script>

</body>
</html>